<!DOCTYPE html>
{% extends 'testApp/biss.html'%}
  {% block  body_block %}


  <a href="/gun"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>
  <a href="/register"><button type="button" class="btn btn-success navbar-btn">Book Now</button></a>


  <h1 class="media-heading"> <strong>THE  BEST FOODS FOR HIGH BLOOD PRESSURE</strong> </h1>

<div class="media">
 <div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>1. CITRUS FRUITS</strong> </h4>
  Citrus fruits, including grapefruit, oranges, and lemons, may have
     powerful blood-pressure-lowering effects.
   They’re loaded with vitamins, minerals, and plant compounds that may help keep your heart healthy by reducing
    heart disease risk factors like high blood pressure.

  A 5-month study involving 101 Japanese women demonstrated that daily lemon juice intake combined with
  walking was significantly correlated with reductions in SBP


 </div>
</div>





<div class="media">
 <div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>2. SALMON AND OTHER FATTY FISH</strong> </h4>
  Fatty fish are an excellent source of omega-3 fats, which have significant heart health benefits.
  These fats may help reduce blood pressure levels by reducing inflammation and decreasing levels of blood-vessel-constricting
  compounds called oxylipins (4Trusted Source).

  Research has linked higher intakes of omega-3-rich fatty fish to lower blood pressure levels.

  A study in 2,036 healthy people found that those with the highest blood levels of omega-3 fats had significantly
  lower SBP and DBP than those with the lowest blood levels of these fats.


 </div>
</div>








<div class="media">
 <div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>3. SWISS CHARD</strong> </h4>
  Swiss chard is a leafy green that’s packed with blood-pressure-regulating nutrients, including potassium and magnesium.
   One cup (145 grams) of cooked chard delivers 17% and 30% of your daily potassium and magnesium needs,
   respectively (9Trusted Source).

  In people with high blood pressure, every 0.6-gram per day increase in dietary potassium is associated with a 1.0 mm
   Hg reduction in SBP and a 0.52 mm Hg reduction in DBP. One cup (145 grams) of Swiss chard packs 792 mg of this important
   nutrient.


 </div>
</div>



<div class="media">
 <div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>4. PUMPKN SEED</strong> </h4>
  Pumpkin seeds may be small, but they pack a punch when it comes to nutrition.

  They’re a concentrated source of nutrients important for blood pressure control, including magnesium, potassium, and arginine,
  an amino acid needed for the production of nitric oxide, which is essential for blood vessel relaxation and blood pressure reduction.

  Pumpkin seed oil has also been shown to be a powerful natural remedy for high blood pressure. A study in 23 women found that
   supplementing with 3 grams of pumpkin seed oil per day for 6 weeks led to significant reductions in SBP, compared with a placebo
   group.


 </div>
</div>





<div class="media">
 <div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>5. BEANS AND LENTILS</strong> </h4>
  Beans and lentils are rich in nutrients that help regulate blood pressure, such as fiber, magnesium, and potassium. Numerous
  studies have shown that eating beans and lentils may help lower high blood pressure levels.

  A review of 8 studies that included 554 people indicated that, when exchanged for other foods, beans and lentils significantly
  lowered SBP and average blood pressure levels in people with and without hypertension.


 </div>
</div>






<div class="media">
 <div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>6. BEERIES</strong> </h4>
  Berries have been associated with a variety of impressive health benefits, including their potential to reduce heart disease
  risk factors like high blood pressure. Berries are a rich source of antioxidants, including anthocyanins, which are pigments that
   give berries their vibrant color.

  Anthocyanins have been shown to increase nitric oxide levels in the blood and reduce the production of blood-vessel-restricting
  molecules, which may help reduce blood pressure levels. However, more research in humans is needed to confirm these potential
  mechanisms.

 </div>
</div>


















  {%  endblock  %}
