<!DOCTYPE html>
{% extends 'testApp/biss.html'%}
  {% block  body_block %}


    <h1 class="media-heading"> <strong>CARBOHYDRATES</strong> </h1>


        <a href="/gun"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>
        <a href="/register"><button type="button" class="btn btn-success navbar-btn">Book Now</button></a>





<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>1. MEAT</strong> </h4>

      <h4 class="media-heading"> <strong>Serving size – 185 grams.</strong> </h4>
      <h4 class="media-heading"> <strong>Carbohydrates – 143 grams.</strong> </h4>
    <h4 class="media-heading"> <strong>DV% – 48%.</strong> </h4>


        Meat is animal flesh that is eaten as food.[1] Humans have
         hunted and killed animals for meat since prehistoric times. The advent of civilization allowed
          the domestication of animals such as chickens, sheep, rabbits, pigs and cattle. This eventually
          led to their use in meat production on an industrial scale with the aid of slaughterhouses.

    Meat is mainly composed of water, protein, and fat. It is edible raw, but is normally eaten after it has
     been cooked and seasoned or processed in a variety of ways. Unprocessed meat will
    spoil or rot within hours or days as a result of infection with and decomposition by bacteria and fungi.
  </div>
</div>




<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>2. BROWN RICE</strong> </h4>

    <h4 class="media-heading"> <strong>Carbohydrates - Brown RiceSave
    Shutterstock


    <h4 class="media-heading"> <strong>Carbohydrates – 143 grams</strong> </h4>

    This mineral also contributes to heart health, just like selenium, another mineral brown rice is rich in
    Brown rice can also reduce cholesterol and cut diabetes risk.

    But, you don’t want to overdo it or eat it every day due to the elevated
    arsenic levels which occur in all rice, but especially brown rice. Rice absorbs arsenic from
    groundwater more easily than most plants, and like some species of plants is an arsenic accumulator,
     with the highest concentrations in the outermost, fibrous part of the plant, which are removed to make white
     rice.
  </div>
</div>





<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>3. BUCKWHEAT</strong> </h4>

    <h4 class="media-heading"> <strong>Serving size – 170 grams</strong> </h4>

    <h4 class="media-heading"> <strong>Carbohydrates – 122 grams</strong> </h4>

    <h4 class="media-heading"> <strong>DV% – 41%</strong> </h4>

    In addition to carbs, buckwheat is also rich in protein.
    It contains 12 amino acids that support energy, proper growth, and muscle synthesis. And the fiber content in
     buckwheat aids digestion and improves digestive health, keeping numerous digestive issues
     at bay.

  </div>
</div>





<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>4. KIDNEY BEANS</strong> </h4>
  <h4 class="media-heading"> <strong>Serving size – 184 grams.</strong> </h4>
         <h4 class="media-heading"> <strong>Carbohydrates – 113 grams.</strong> </h4>
                <h4 class="media-heading"> <strong>DV% – 38%.</strong> </h4>

    cholesterol without affecting those of the good cholesterol (2). Kidney beans also contain compounds
    called alpha-amylase inhibitors – which prevent starch absorption and breakdown, leading to weight loss.
  </div>
</div>




<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>5. OATS</strong> </h4>

  <h4 class="media-heading"> <strong>Carbohydrates - OatsSave
  Shutterstock

  <h4 class="media-heading"> <strong><h4 class="media-heading"> <strong>Carbohydrates – 103 grams.</strong> </h4>
  <h4 class="media-heading"> <strong>DV% – 34%.</strong> </h4>

  These increase the production of nitric oxide, which reduces blood pressure. Oats are also rich in
  beta-glucan, a powerful soluble fiber. Beta-glucan reduces cholesterol and also aids weight loss.
  </div>
</div>










  {%  endblock  %}
