<!DOCTYPE html>
{% extends 'testApp/biss.html'%}
  {% block  body_block %}


    <h1 class="media-heading"> <strong>THE BEST VEGETABLES FOR DIABETES</strong> </h1>




    <a href="/gun"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>
    <a href="/register"><button type="button" class="btn btn-success navbar-btn">Book Now</button></a>



    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">MEAL PLAN</h4>

        The best vegetables for diabetes are low on the glycemic index (GI) scale, rich in fiber, or high in nitrates that reduce
blood pressure.

vegetables are so important for people who are monitoring blood
  sugar, and we offer a range of tasty meal ideas



Best vegetables for diabetes
Eating a wide variety of foods, including a mix of certain vegetables,
can help people with diabetes stay healthy while enjoying a range of meals.

  </div>
    </div>



  <div class="media">
     <div class="media-left media-middle">
      <a href="#">
      <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
    </a>
    </div>
    <div class="media-body">
    <h4 class="media-heading"> <strong>LOW-GI VEGETABLES</strong> </h4>
    Glucose from that food. The body absorbs blood sugar much faster from high-GI foods
    than low-GI foods.

    Not all vegetables are safe for people with diabetes, and some have a
    high GI. Boiled potatoes, for example, have a GI of 78.

  The GI scores for some popular vegetables are:

    Frozen green peas score 39 on the GI index.
    Carrots score 41 when boiled and 16 when raw.
    Broccoli scores 10.
    Tomatoes score 15.
    Low-GI vegetables are also safe for people
    with diabetes, such as:

    artichoke,
   asparagus,
    broccoli,
    green beans,
    lettuce,
    peppers,
    spinach,
    celery

  It is important to note that the GI gives a relative value to each food item and does not refer
    to the specific sugar content. Glycemic load (GL) refers to how much glucose will enter the body
    in one serving of a food.
     </div>
    </div>



    <div class="media">
       <div class="media-left media-middle">
        <a href="#">
        <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
      </a>
      </div>
      <div class="media-body">
      <h4 class="media-heading"> <strong>HIGH-NITRATE CONTENT</strong> </h4>
      itrates are chemicals that naturally occur in specific vegetables.
        Some manufacturers use them as preservatives in foods.

  Eating natural, nitrate-rich foods can reduce blood pressure and improve overall circulatory health. People should
      choose vegetables with naturally high nitrate content, rather than those with nitrate that manufacturers have
      added during processing.

      Nitrate-rich vegetables include:

      beets and beet juice,
    lettuce,

    Protein





       </div>
      </div>







  {%  endblock  %}
