<!DOCTYPE html>
{% extends 'testApp/biss.html'%}
  {% block  body_block %}

    <h1 class="media-heading"> <strong>15 INCREDIBLY HEART-HEALTHY FOODS</strong> </h1>



    <a href="/gun"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>
   <a href="/register"><button type="button" class="btn btn-success navbar-btn">Book Now</button></a>


  <h2 class="media-heading"> <strong>DIET PLAYS A MOJOR ROLE IN HEART HEALTH AND CAN IMPACT YOUR RISK OF HEART DISEASE.</strong> </h2>




  <div class="media">
<div class="media-left media-middle">
  <a href="#">
    <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
  </a>
</div>
<div class="media-body">
  <h4 class="media-heading"> <strong>1. LEAFY GREEN VEGETABLES</strong> </h4>
  In particular, they’re a great source of vitamin K, which helps protect your arteries and promote proper blood
clotting.

They’re also high in dietary nitrates, which have been shown to reduce blood pressure,
decrease arterial stiffness and improve the function of cells lining the blood vessels.

Some studies have also found a link between increasing your
intake of leafy green vegetables and a lower risk of heart disease.

One analysis of eight studies found that increasing leafy green vegetable intake
was associated with up to a 16% lower incidence of heart disease
</div>
</div>

  <div class="media">
<div class="media-left media-middle">
  <a href="#">
   <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>2.WHOLE GRAINS</strong> </h4>
Common types of whole grains include whole wheat, brown rice, oats, rye, barley, buckwheat and quinoa.

Compared to refined grains, whole grains are higher in fiber, which may help reduce “bad” LDL cholesterol and decrease the risk of heart disease.

Multiple studies have found that including more whole grains in your diet can benefit your heart health.

One analysis of 45 studies concluded that eating three more servings of whole grains daily was associated with a 22% lower risk of heart disease.
 </div>
</div>

<div class="media">
 <div class="media-left media-middle">
  <a href="#">
  <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>3. BERRIES</strong> </h4>
Strawberries, blueberries, blackberries and raspberries are jam-packed with important nutrients that play a central role in heart health.

Berries are also rich in antioxidants like anthocyanins, which protect against the oxidative stress and inflammation that
contribute to the development of heart disease.

Studies show that eating lots of berries can reduce several risk factors for heart disease.

For example, one study in 27 adults with metabolic syndrome showed that drinking a beverage made of freeze-dried
strawberries for eight weeks decreased “bad” LDL cholesterol by 11%.

Metabolic syndrome is a cluster of conditions associated with a higher risk of heart disease.
</div>

<div class="media">
 <div class="media-left media-middle">
  <a href="#">
  <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>4. AVOCADOS</strong> </h4>
Avocados are an excellent source of heart-healthy monounsaturated fats, which have been linked to reduced levels of cholesterol and a
lower risk of heart disease.

One study looked at the effects of three cholesterol-lowering diets in 45 overweight and obese people, with one of the test groups consuming one avocado per day.

The avocado group experienced reductions in “bad” LDL cholesterol, including lower levels of small, dense LDL cholesterol, which are believed to
significantly raise the risk of heart disease
 </div>
</div>


<div class="media">
 <div class="media-left media-middle">
  <a href="#">
  <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>5. FATTY FISH AND FISH OIL</strong> </h4>
Fatty fish like salmon, mackerel, sardines and tuna are loaded with omega-3 fatty acids, which have been studied extensively for their heart-health benefits.

In one study in 324 people, eating salmon three times a week for eight weeks significantly decreased diastolic blood pressure.

Another study showed that eating fish over the long term was linked to lower levels of total cholesterol, blood
triglycerides, fasting blood sugar and systolic blood pressure.
 </div>
</div>





<div class="media">
 <div class="media-left media-middle">
  <a href="#">
  <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>6. WALNUTS</strong> </h4>
Walnuts are a great source of fiber and micronutrients like magnesium, copper and manganese (27).

Research shows that incorporating a few servings of walnuts in your diet can help protect against heart disease.

According to one review, eating walnuts can reduce “bad” LDL cholesterol by up to 16%, lower diastolic blood pressure
by 2–3 mm Hg and decrease oxidative stress and inflammation.

Another study in 365 participants showed that diets supplemented with walnuts led to greater decreases in LDL and total cholesterol.
 </div>
</div>






<div class="media">
 <div class="media-left media-middle">
  <a href="#">
  <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>7. BEANS</strong> </h4>
Beans contain resistant starch, which resists digestion and is fermented by the beneficial bacteria in your gut.

According to some animal studies, resistant starch can improve heart health by decreasing blood levels of triglycerides and
cholesterol.

Multiple studies have also found that eating beans can reduce certain risk factors for heart disease.

In one study in 16 people, eating pinto beans reduced levels of blood triglycerides and “bad” LDL cholesterol.
 </div>
</div>






<div class="media">
 <div class="media-left media-middle">
  <a href="#">
  <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>8. ALMONDS</strong> </h4>
Almonds are incredibly nutrient-dense, boasting a long list of vitamins and minerals that are crucial to heart health.

They’re also a good source of heart-healthy monounsaturated fats and fiber, two important nutrients that can
 help protect against heart disease.

Research suggests that eating almonds can have a powerful effect on your cholesterol levels, too.

One study in 48 people with high cholesterol showed that eating 1.5 ounces (43 grams) of almonds daily for six weeks reduced
belly fat and levels of “bad” LDL cholesterol, two risk factors for heart disease.
 </div>
</div>





  {%  endblock  %}
