<!DOCTYPE html>
{% extends 'testApp/biss.html'%}
  {% block  body_block %}


  <a href="/gun"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>
  <a href="/register"><button type="button" class="btn btn-success navbar-btn">Book Now</button></a>


    <h1 class="media-heading"> <strong>PROTEIN</strong> </h1>

    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <strong>1. PROTEIN</strong> </h4>
    Going by 2,000 calorie diet, men and women need around 56 and 46 grams
       of protein per day in their meals and poultry is a good way of meeting this dietary requirement.
       A 100-gram portion of cooked chicken contains approximately 25 grams of protein (as per United States
       Department of Agriculture). Boiled or grilled chicken pieces
      go really well with salad greens.
  </div>
</div>




<div class="media">
<div class="media-left media-middle">
<a href="#">
  <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>2. TURKEY</strong> </h4>
Turkey is another poultry meat that is one of the healthiest
  options for non-vegetarians looking to load up on protein. A 100 gram
  portion of turkey meat delivers a whopping 29 grams of protein (as per USDA data).
  Diced cooked turkey meat can be mixed with red onions, low-calorie mayonnaise, lemon
  juice and a range of herbs of your choice to make a delicious protein-rich salad.
</div>
</div>




<div class="media">
<div class="media-left media-middle">
<a href="#">
  <img class="media-object" src="https://source.unsplash.com/user/erondu/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>3. EGG</strong> </h4>
WhitesCooked egg whites are an excellent addition to salads. Chicken eggs are one of the cheapest, most widely
 consumed dietary sources of lean protein. They taste delicious and add a nice and different texture to a bowl of greens.
 You can simply toss egg whites in dressing of your choice or place a whole poached egg as topping for your salad.
  One whole boiled egg contains as little as 6 grams of protein, so a better way of using egg in salad is to use good
  amount of whites, possibly with other forms of non-vegetarian lean protein.
</div>
</div>





<div class="media">
<div class="media-left media-middle">
<a href="#">
  <img class="media-object" src="https://source.unsplash.com/600x400/?nature,water" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>4. NUTS</strong> </h4>
Nuts also go extremely well with salads, be it the warm or the cold kind. Almonds, walnuts,
  pine nuts, cashew nuts are all great additions to salad meals, as these add a nice crunch, a delicious flavour and of
  course nutrition to the meals. It's better to throw in a mix of your favourite nuts instead of just sticking
  to one, provided that the recipe allows for it. However, it is again advised to throw in some other form
   of lean protein along with the nuts, to make your meal sufficiently rich in protein.
</div>
</div>



<div class="media">
<div class="media-left media-middle">
<a href="#">
  <img class="media-object" src="https://source.unsplash.com/collection/190727/600x400" alt="...">
</a>
</div>
<div class="media-body">
<h4 class="media-heading"> <strong>5. DAIRY PRODUCTS</strong> </h4>
Some of the best protein come in the form of dairy products,
  the best among which is cheese. However, cheese also contains good amounts of fats and hence it is advised
  to have it in moderation. Cottage cheese or paneer is relatively low in fat, a 100 gram portion contains 11 grams
  of protein (as per USDA data). Yogurt is another relatively good source of vegetarian protein and can be used in the
  dressing to lend a creamy taste.
</div>
</div>






  {%  endblock  %}
