<!DOCTYPE html>
{% extends 'testApp/biss.html'%}
  {% block  body_block %}



    <a href="/veglist"><button type="button" class="btn btn-success navbar-btn">Book Veg Now</button></a>

   <h1>VEGETARIAN SCHEDULE</h1>

   <h3>VEGETARIAN</h3>

   <ul class="nav nav-justified">
        <li role="presentation" class="active"><a href="/health"> <strong>HEARTH HEALTH</strong></a></li>
        <li role="presentation"><a href="/daibetes"><strong>DIABETES</strong></a></li>
        <li role="presentation"><a href="/blood"><strong>BLOOD PRESSURE</strong></a></li>
      </ul>



  {%  endblock  %}
