<!DOCTYPE html>
{% extends 'testapp/biss.html'%}
   {% block  body_block  %}

   <a href="/gun"><button type="button" class="btn btn-primary navbar-btn">Home</button></a>

<ul><h4>SALADS</h4></ul>

   <table>
     <p><<strong>GREEN LEAFY VEGETABLES</strong>    : Rs.90/-</p>
     <p><strong>AVOCADO</strong>                    : Rs.100/-</p>
     <p><strong>MIXED VEGETABLES SOUP</strong>      : Rs.110/-</p>
     <p><strong>FRUITS OF DIET MIXED</strong>       : Rs.140/-</p>
   </table>

   <a href="/register"><button type="button" class="btn btn-danger navbar-btn">Buy With Smile</button></a>


   {%  endblock  %}
